.ui.items > .item a {
  color: #000;
  font-size: 12pt;
}
.ui.items > .item .price {
  font-size: 10pt;
}
.ui.small.header {
  margin: 0;
}

.ui.header:first-child {
  margin-top: 0;
}
.ui.header .content a {
  color: #000;
  font-size: 10pt;

  line-height: 12px;
}

.icon a {
  color: #000;
}
.ui.small.block.header {
  background: #ff6600;
  border: none;
  border-radius: 0;
  padding: 0.4rem 17rem;
}
.hacker .news .icon a {
  color: #fff;
}

.ui.container {
  padding-top: 0.5rem;
  background-color: #f6f6ef;
  margin-left: 0rem !important;
}
.story_container {
  background-color: #f6f6ef;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
  padding-top: 0.5rem;
}
.ui.items {
  padding-left: -30rem;
}
